/* ==========================
   Auth Container Styling (Auth.css)
   ========================== */

   .auth-container {
    text-align: center;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 85%;
    max-width: 400px;
    margin: auto;
}

.auth-container h2 {
    font-family: 'Lexend Giga', sans-serif;
    margin-bottom: 10px;
}

.auth-container p {
    font-size: 14px;
    color: #666;
}

.auth-toggle span {
    color: rgb(237, 92, 22);
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
}

.auth-toggle span:hover {
    color: rgb(240, 162, 17);
}
